<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Layout</title>
    <style>
      div {
        width: 100%;
        text-align: center;
      }
      #header {
        background: #f00;
        height: 20%;
      }
      #menu {
        background: #fff;
        height: 10%;
      }
      #body {
        background: #00f;
        height: 40%;
      }
      #footer {
        background: #000;
        color: #fff;
        height: 30%;
      }
    </style>
  </head>
  <body>
    <div style="height: 1000px; width: 100%;">
      <div id="header">header</div>
      <div id="menu">menu</div>
      <div id="body">body</div>
      <div id="footer">footer</div>
    </div>
  </body>
</html>
